<h1>Home#index</h1>
<br/>
<h3> RabbitMQ Data </h3>
<% @rabbit_list.each do |item| %>
  <%= item.to_s %><br/>
<% end %>

<br/>
<h3> Redis Data </h3>
<% @redis_list.each do |item| %>
  <%= item.to_s %><br/>
<% end %>

<br/>

<h3> Kafka Data </h3>
<% @kafka_list.each do |item| %>
  <%= item.to_s %><br/>
<% end %>


<%# <%= render partial: "rabbit", locals: {posts: @posts} %>
